<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Memoir.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EDCF6471DCA7E0F00299844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EDCF65B1DCA7E0F00299844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EDCF6661DCA7E1000299844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
